{% extends "crm_system/layout.html" %}

{% block body %}
<h1 class="c-t-header">Task archive</h1>


    <div class="c-t-div">
        <div class="c-t-list-div">
            <h2 class="second-header">Task list</h2>
            <table class="c-t-table">
                <tr class="c-t-tr">
                <th class="c-t-th">ID</th>
                <th class="c-t-th">Task Name</th>
                <th class="c-t-th">Customer</th>
                <th class="c-t-th">Finish date</th>
                <th class="c-t-th">Finish done date</th>
                <th class="c-t-th">Price</th>
                </tr>
                {% for entry in page_obj %}
                    <tr class="c-t-tr">
                    <td class="c-t-td" id="task-archive-table-id{{ entry.task_id }}"><a href="{% url 'task_info' entry.id %}">{{ entry.task_id }}</a></td>
                    <td class="c-t-td" id="task-archive-table-name{{ entry.task_id }}"><a href="{% url 'task_info' entry.id %}">{{ entry.task_name }}</a></td>
                    <td class="c-t-td" id="task-archive-table-customer{{ entry.task_id }}"><a href="{% url 'task_info' entry.id %}">ID:{{ entry.task_customer_id.customer_id }}. {{ entry.task_customer_id.last_name }}</a></td>
                    <td class="c-t-td" id="task-archive-table-date{{ entry.task_id }}"><a href="{% url 'task_info' entry.id %}">{{ entry.task_date }}</a></td>
                    <td class="c-t-td" id="task-archive-table-done_date{{ entry.task_id }}"><a href="{% url 'task_info' entry.id %}">{{ entry.task_done_date }}</a></td>
                    <td class="c-t-td" id="task-archive-table-price{{ entry.task_id }}"><a href="{% url 'task_info' entry.id %}">{{ entry.task_price }}€</a></td>
                    </tr>
                {% endfor %}
            </table>
            <p>(Click on a task for more details)</p>
            <!-- div with class pagination from django pagination documentary-->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="paginator-link" href="?page=1">&laquo; First</a>
                        <a class="paginator-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        <strong>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</strong>
                    </span>

                    {% if page_obj.has_next %}
                        <a class="paginator-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="paginator-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <br>
        </div>
{% endblock %}